body{
    background-image: url(".././assets/back.jpg");
    background-size: cover;
    .container-xl{
        background: rgba(255,255,255,0.8);
        backdrop-filter: saturate(180%) blur(10px);
        border: solid 1px black;
        border-radius: 1rem;
    }

    img.icon{
        height: 80px
    }
    img.card{
        width: 100px
    }

    .deck{
        border: solid 1px gray;
        border-radius: 1rem;
    }

}