#root {
  height: calc(100vh - 4rem);
}

.bg-gray {
  background-color: #212529;
}

.c-white {
  color: aliceblue;
}

.form-control.border {
  border: solid 1px gray !important;
}

nav a {
  color: navy;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

.loading {
  height: 200px;
  width: 100%;
  background: url(".././assets/loading.gif");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1rem;
}

body {
  background-image: url(".././assets/back.jpg");
  background-size: cover;
  /* section{
      height: 100vh;
  } */
}
body .container-fluid {
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
  border-radius: 1rem;
  max-width: 1600px;
  height: 100%;
}
body #app .corners {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
body img.icon {
  height: 80px;
}
body #home .deck-box {
  border: solid 1px gray;
  border-radius: 0.6rem;
  height: 8rem;
}
body #home img.deck {
  height: 5rem;
  cursor: pointer;
}
body #home a {
  color: navy;
  text-decoration: none;
}
body #home a:hover {
  text-decoration: underline;
}
body #home .delete {
  color: navy;
  cursor: pointer;
}
body #home .delete:hover {
  text-decoration: underline;
}
body #preview img.magic {
  width: 100%;
  border-radius: 0.6rem;
}
body #deckbuilder .card-section {
  border: solid 1px black;
  overflow-y: auto;
  border-radius: 0.6rem;
}
body #deckbuilder .item {
  cursor: pointer;
}
body #deckbuilder .item:hover div {
  text-decoration: underline;
}
body #deckbuilder img.magic {
  width: 100px;
  border-radius: 0.3rem;
  transition: scale 0.3s;
}
body #deckbuilder img.magic:hover {
  transform: scale(1.5);
}
body #deckbuilder .mana {
  display: inline-block;
  width: 1rem;
}
body #editions .edition {
  height: 3rem;
}
body #editions a {
  color: black;
  text-decoration: none;
}
body #editions a:hover {
  text-decoration: underline;
}
body #editions .icon {
  width: 2rem;
}
body #editions .container-lg {
  border: solid 1px black;
  overflow-y: auto;
  border-radius: 0.6rem;
}
body #editions .form-select.border {
  border: solid 1px black !important;
}
body #workon img.magic {
  width: 12.5rem;
  border-radius: 0.6rem;
}
body #workon .cards {
  position: relative;
}
body #workon .creatures {
  margin-left: 13rem;
}
body #workon .card-box {
  position: absolute;
  border-radius: 0.6rem;
  -webkit-animation: show 0.5s normal;
          animation: show 0.5s normal;
}
body #workon .deleted {
  animation: show 0.2s reverse;
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body #workon .full {
  border-radius: 0.6rem;
}
body #workon .full .card-x {
  top: 0;
  right: 0;
  width: 100%;
  height: 2rem;
  border: solid 1px transparent;
  border-radius: 0.6rem;
}
body #workon .full .x {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  color: transparent;
  cursor: pointer;
}
body #workon .full:hover .x {
  color: white;
  background: black;
}
body #workon .input-group {
  width: 12rem;
}
body #workon .input-group .form-control.border {
  border: solid 0px gray !important;
  background: transparent;
  font-weight: bold;
  font-size: 18px;
}
body #workon .input-group .form-control:focus {
  border: solid 1px gray !important;
  outline: none;
}
body .dragable {
  top: 0;
}

@media all and (max-width: 1600px) {
  html {
    font-size: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */