#root {
  height: calc(100vh - 4rem);
}

.bg-gray {
  background-color: #212529;
}

.c-white {
  color: aliceblue;
}

.form-control.border {
  border: solid 1px gray !important;
}

nav a {
  color: navy;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

.loading {
  height: 200px;
  width: 100%;
  background: url(".././assets/loading.gif");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 1rem;
}

body {
  background-image: url(".././assets/back.jpg");
  background-size: cover;
}
body .container-fluid {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  height: 100%;
  overflow-y: hidden;
}
body #app .corners {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
body img.icon {
  height: 80px;
}
body #home .deck-box {
  border: solid 1px gray;
  border-radius: 0.6rem;
  height: 8rem;
}
body #home img.deck {
  height: 5rem;
  cursor: pointer;
}
body #home a {
  color: navy;
  text-decoration: none;
}
body #home a:hover {
  text-decoration: underline;
}
body #home .delete {
  color: navy;
  cursor: pointer;
}
body #home .delete:hover {
  text-decoration: underline;
}
body #preview img.magic {
  width: 100%;
  border-radius: 0.6rem;
}
body #deckbuilder .card-section {
  border: solid 1px black;
  overflow-y: auto;
  border-radius: 0.6rem;
}
body #deckbuilder .item {
  cursor: pointer;
}
body #deckbuilder .item:hover div {
  text-decoration: underline;
}
body #deckbuilder img.magic {
  width: 100px;
  border-radius: 0.3rem;
  transition: scale 0.3s;
}
body #deckbuilder img.magic:hover {
  transform: scale(1.5);
}
body #deckbuilder .mana {
  display: inline-block;
  width: 1rem;
}
body #editions .edition {
  height: 3rem;
}
body #editions a {
  color: black;
  text-decoration: none;
}
body #editions a:hover {
  text-decoration: underline;
}
body #editions .icon {
  width: 2rem;
}
body #editions .container-lg {
  border: solid 1px black;
  overflow-y: auto;
  border-radius: 0.6rem;
}
body #editions .form-select.border {
  border: solid 1px black !important;
}
body #workon img {
  width: 100%;
}
body #workon .list {
  position: relative;
  width: 13rem;
  display: block;
  flex: none !important;
}
body #workon .list {
  position: relative;
  height: 500px;
}
body #workon .item {
  position: relative;
  height: 15rem;
  width: 100%;
  border-radius: 0.55rem;
}
body #workon .cardd {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 20rem;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 0.55rem;
}
body #workon .cardd .x {
  display: none;
  color: white;
  background: black;
  width: 1rem;
  height: 1rem;
  top: 0;
  right: 0;
  border-bottom-left-radius: 0.5rem;
}
body #workon .cardd:hover .x {
  display: flex;
  z-index: 300;
}
body #workon .cardd:nth-child(2n) {
  top: 1.8rem;
}
body #workon .cardd:nth-child(3n) {
  top: 3.6rem;
}
body #workon .cardd:nth-child(4n) {
  top: 5.4rem;
}
body #workon .cardd:nth-child(5n) {
  top: 7.2rem;
}
body #workon .cardd:nth-child(6n) {
  top: 9rem;
}
body #workon .cardd:nth-child(7n) {
  top: 10.8rem;
}
body #workon .cardd:nth-child(8n) {
  top: 12.6rem;
}
body #workon .cardd:nth-child(9n) {
  top: 14.4rem;
}
body #workon .cardd:nth-child(10n) {
  top: 16.2rem;
}
body #workon .cardd:nth-child(11n) {
  top: 18rem;
}
body #workon .cardd:nth-child(12n) {
  top: 19.8rem;
}
body #workon .cardd:nth-child(13n) {
  top: 21.6rem;
}
body #workon .cardd:nth-child(14n) {
  top: 23.4rem;
}
body #workon .cardd:nth-child(15n) {
  top: 25.2rem;
}
body #workon .draggable-area {
  height: 1.8rem;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 100;
  border-radius: 0.55rem;
}
body #workon .cardd-image {
  top: 0;
  border-radius: 0.55rem;
  z-index: 50;
}
body #workon .deleted {
  animation: show 0.2s reverse;
}
body #workon .dragging {
  opacity: 0.8;
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body #workon .full {
  border-radius: 0.6rem;
  border: solid 2px red;
}
body #workon .full .card-x {
  top: 0;
  right: 0;
  width: 100%;
  height: 2rem;
  border: solid 1px transparent;
  border-radius: 0.6rem;
}
body #workon .full .x {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-top-right-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  color: transparent;
  cursor: pointer;
}
body #workon .full:hover .x {
  color: white;
  background: black;
}
body #workon .input-group {
  width: 12rem;
}
body #workon .input-group .form-control.border {
  border: solid 0px gray !important;
  background: transparent;
  font-weight: bold;
  font-size: 18px;
}
body #workon .input-group .form-control:focus {
  border: solid 1px gray !important;
  outline: none;
}

#draggable .list {
  padding: 5px;
  width: 51.5rem;
  background-color: red;
  position: relative;
  /* Apply top: -30rem to cards with index >= 15 */
  /* Apply top: -60rem to cards with index >= 30 */
}
#draggable .list .card {
  position: relative;
  width: 12.5rem;
  height: 2rem;
  border-radius: 0.6rem;
}
#draggable .list .card:nth-child(n+16) {
  top: -30rem;
}
#draggable .list .card:nth-child(n+31) {
  top: -60rem;
}
#draggable .list .card:nth-child(n+46) {
  top: -90rem;
}
#draggable .list img {
  width: 12.5rem;
  position: absolute;
  z-index: 10;
  border-radius: 0.6rem;
}
#draggable .list .item {
  position: relative;
  height: 2rem;
  width: 100%;
  width: 12.5rem;
  z-index: 20;
  border-radius: 0.6rem;
}
#draggable .list .item .x {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: white;
  border: none;
  border-top-right-radius: 0.6rem;
  padding: 0.5rem 0.5rem 0 0;
  display: none;
}
#draggable .list .item:hover .x {
  display: block;
  background-color: black;
}
#draggable .list .list.draggingOver {
  background-color: lightblue;
}
#draggable .list .item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
}
#draggable .list .item.dragging {
  background-color: rgba(255, 255, 255, 0.5);
}

/* #dnd{
    .list {
        padding: 5px;
        width: 300px;
        background-color: lightgrey;
      }

      .list.draggingOver {
        background-color: lightblue;
      }

      .item {
        user-select: none;
        padding: 10px;
        margin: 0;
        margin-bottom: 8px;
        background-color: rgb(115, 101, 115);
      }

      .item.dragging {
        background-color: rgb(190, 180, 181);
      }
} */
@media all and (max-width: 1600px) {
  html {
    font-size: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */